#hero {
  background-image: url('../images/disney-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: ivory;
  text-shadow: 3px 3px black;
  max-height: 100%;
  margin-bottom: 0px;
}